<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Header -->
<header class="header" id="header">
  <!-- Outer for Contrast -->
    <a class="outer-overlay" :class="{ showOverlay: isOpen }" @click.prevent="toggleMenu">
        <div class="close-button">
            <span></span>
            <span></span>
        </div>
    </a>
  <div class="header__inner flex flex-jc-sb">
      <!-- Left Side Nav -->
      <nav class="header__nav-main">
          <a href="/" class="header__nav-hamburger" @click.prevent="toggleMenu">
              <span></span><span></span><span></span>
          </a>

          <div class="main-content" :class='{ showLeft: isOpen}'>
              <div class="content-btn">
                  <a href="/" class="btn-login">Order</a>
                  <a href="/" class="btn-order">Login</a>
              </div>
              {% if section.settings.top %}
                <div class="content-nav">
                    <h4 class="nav-header">{{ section.settings.top.title }}</h4>
                    <ul class="nav-links">
                        {% for link in section.settings.top.links %}
                        <li><a href="{{ link.url }}" class="links" @click="toggleMenu">-- {{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
              <div class="content-footer">
                  <ul class="footer-links">
                      <li><a href="">inquiry</a></li>
                      <li><a href="">about purchase</a></li>
                      <li><a href="">privacy</a></li>
                      <li><a href="">specified commercial transaction law</a></li>
                  </ul>
                  <div class="footer-brand">
                      {% if section.settings.logo %}
                        <a href="/" class="logo"><img src="{{ section.settings.logo | img_url: 'medium' }}" alt="logo"></a>
                      {% else %}
                      <a class="header__nav-logo" href="{{ routes.root_url }}">{{ shop.name }}</a>
                      {% endif %}
                      <ul class="socials">
                          <li><a href="/"><span><i class="fab fa-twitter"></i></span></a></li>
                          <li><a href="/"><span><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="/"><span><i class="fab fa-instagram"></i></span></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </nav>
      <!-- Center Logo -->
      {% if section.settings.logo %}
        <a href="{{ routes.root_url }}" class="header__nav-logo" style="width: {{ section.settings.logo_max_width }}px"><img src="{{ section.settings.logo | img_url: 'medium' }}" alt="Mark it Logo"></a>
     
    {% else %}
        <a class="header__nav-logo" href="{{ routes.root_url }}">{{ shop.name }}</a>
     {% endif %}

      <!-- Right Side Nav -->
      <nav class="header__nav-right">
          <!-- Side access -->
          <a href="/"><i class="material-icons-outlined">person_outline</i></a>
          <a href="/"><i class="material-icons-outlined">local_mall</i></a>
      </nav>
  </div>
</header>

<script>
    if(document.querySelector('#header')) {
        const Header = Vue.createApp({
        //   delimiters: ['${', '}'],
        data() {
            return {
            isOpen: false
            }
        },
        methods: {
            toggleMenu() {
                this.isOpen = !this.isOpen
            },
        },
        }).mount('#header');
    }
</script>

{% schema %}
{
    "name" : "Header",
    "settings" : [
        {
            "type" : "image_picker",
            "id" : "logo",
            "label" : "Logo image"
        },
        {
            "type" : "range",
            "id" : "logo_max_width",
            "label" : "Custom logo width",
            "min" : 50,
            "max" : 250,
            "step" : 2,
            "unit" : "px",
            "default" : 100
        },
        {
            "type" : "link_list",
            "id" : "top",
            "label" : "Menu",
            "default" : "main-menu"
        },
        {
            "type" : "header",
            "content" : "Announcement bar"
        },
        {
            "type" : "checkbox",
            "id" : "message",
            "label" : "Show announcement",
            "default" : false
        },
        {
            "type" : "checkbox",
            "id" : "home_page_only",
            "label" : "Home page only",
            "default" : true
        },
        {
            "type": "text",
            "id" : "message_text",
            "label" : "Text",
            "default" : "Announce something here"
        },
        {
            "type": "url",
            "id": "message_link",
            "label": "link",
            "info": "Optional"
        },
        {
            "type": "color",
            "id": "color_bg",
            "label": "Bar",
            "default": "#3a3a3a"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Text",
            "default": "#ffffff"
        }
    ]
}
{% endschema %}