<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Hero -->
<section class="section-intro section-padding pad-bot">
    <div class="intro">
        <!--Handles the left right padding-->
        <div class="intro-shell shell">
            {% if section.blocks.size != 0 %}
                <div class="intro-slider">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            {% for block in section.blocks %}
                            <!-- bg-img -->
                                <div class="swiper-slide bg-img"><img src="{{ block.settings.imageDesktop | img_url: 'master' }}" alt=" Picture-{{ forloop.index }}"></div>
                                <!-- small-img -->
                                <div class="swiper-slide small-img"><img src="{{ block.settings.imageMobile | img_url: 'master' }}" alt=" Picture-{{ forloop.index }}"></div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            {% else %}
                <div class="intro-slider">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <!-- bg-img -->
                            <div class="swiper-slide bg-img">{% render "image-placeholder" %}</div>
                            <!-- small-img -->
                            <div class="swiper-slide small-img">{% render "image-placeholder" %}</div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>  
            {% endif %}
            <div class="intro-actions">
                <a href="/" class="btn-oval">
                    <span>
                        {{ section.settings.ctaText }}
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var swiper = new Swiper(".mySwiper", {
            pagination: {
                el: ".swiper-pagination",
            },
            effect: 'fade',
            speed: 3000,
            fadeEffect: {
                crossFade: true,
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            }
        });
    });
</script>

{% schema %}
{
    "name": "Hero Images",
    "settings": [
        {
            "type": "text",
            "id": "ctaText",
            "label": "CTA Text",
            "default": "Order Now"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "imageDesktop",
                    "label": "Image for desktop"
                },
                {
                    "type": "image_picker",
                    "id": "imageMobile",
                    "label": "Image for mobile"
                }
            ]
        }
    ]
}
{% endschema %}